<% #provide(:title, "Home") %>

<div class="hero-unit">
	<h1>Sample App</h1>
	<p>This is the page for the sample application</p>

	<%= link_to "Sign Up Now", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>